  
    body{
        background-color: #E1DDDD;
    }
    a:hover{
        color:#A5C1CD
    }

    #barra_nav{
        background-color:#505050;
        padding-left: 14px;
        ;
    }
    #usuario{
        background-color:#3D3C3C;
    }
    #salida{
        background-color:black;
    } 
  